<html>
    <head>
        <title>WriteX</title>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class ="container mt-3">
            <h1>Fill out the form then re-upload it</h1>
            <a>If you dont have a form, or need a new one you can download one below</a>
            <br>
        </div>

        <div class ="container mt-3 border">
            <br>
            <form action = "" method = "POST" enctype = "multipart/form-data" >
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Select Form</label>
                </div>

                <div class="form-group">
                    <label for="nameSelect">Font Name</label>
                    <input class="form-control" id="nameSelect" name="font"></input>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

        <br>
        <br>
        <div class ="container mt-3 text-center">
            <a href={{ filename }} class="" download> Download Blank Form </a>
            <br>
            <br>
            <a href="/" class="btn btn-block btn-secondary">Back</a>
        </div>

        <div class ="container mt-3 text-center">
            <p class="text-danger fixed-bottom">Warning: Compressing the Form will result in low quality letters and generations</p>
        </div>


        <script>
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>

   </body>
</html>